# Virtuelle Umgebung
.venv/

# Python Cache
__pycache__/
*.pyc

# Logs
logs/

# Persistenzdaten
data/

# OS-Dateien
.DS_Store
Thumbs.db

# pytest coverage
.coverage
htmlcov/

# Ordnerstruktur.txt
Ordnerstruktur.txt

# Sicherungen*.bak *.old
*.bak
*.old
